<html>
    <head>
        <title>Pro100 Блог</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Pro100 Блог</a></h1>
        </div>
        <div>
            <h1><a href="/">Veni Vidi Vici</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>